<div class="container " style="padding-left: 300px; padding-right: 300px">
  <h3 class="fw-bold">Anomalías sin datos</h3>
  <table class="table table-warning">
    <thead>
    <tr>
      <th scope="col">Tabla 1</th>
      <th scope="col">Tabla 2</th>
      <th scope="col">Posible columna anómala</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let elemento of datos">
      <td>{{elemento.TABLE_NAME[0]}}</td>
      <td>{{elemento.TABLE_NAME[1]}}</td>
      <td>{{elemento["Posible columna anomala"]}}</td>
    </tr>
    </tbody>
  </table>
</div>

