<section *ngIf="formGroup">
  <h3>Seleccione su base de datos</h3>
  <form [formGroup]="formGroup"
        (ngSubmit)="baseSeleccionada()">
    <mat-form-field appearance="fill">
      <mat-label>Base de datos</mat-label>
      <mat-select formControlName="listaDb">
        <mat-option *ngFor="let base of listaBases"
          [value]="base">
          {{base}}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <button mat-flat-button color="primary" type="submit">Auditar</button>
  </form>

<p>
  <app-tabla-aud-cd>
  </app-tabla-aud-cd>
  <app-tabla-aud-sd>
  </app-tabla-aud-sd>
  <app-tabla-aud-re>
  </app-tabla-aud-re>
</p>

</section>
