<div class="container "  style="padding-left: 300px; padding-right: 300px">
  <div class="panel">
    <h3 class="fw-bold">Relaciones existentes</h3>
    <button mat-stroked-button (click)="crearLog()">Exportar log (CSV)</button>
  </div>
  <table class="table table-danger" >
    <thead>
    <tr>
      <th scope="col">Nombre de la restriccion</th>
      <th scope="col">Tabla (padre)</th>
      <th scope="col">Columna (padre)</th>
      <th scope="col">Tabla (hija)</th>
      <th scope="col">Columna (hija)</th>
      <th scope="col">Acción al eliminar</th>
      <th scope="col">Acción al actualizar</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let elemento of datos">
      <td>{{elemento["Nombre de la restriccion"]}}</td>
      <td>{{elemento.Tabla}}</td>
      <td>{{elemento.Columna}}</td>
      <td>{{elemento["Tabla de referencia"]}}</td>
      <td>{{elemento["Columna de referencia"]}}</td>
      <td>{{elemento["Acccion al eliminar"]}}</td>
      <td>{{elemento["Accion al actualizar"]}}</td>
    </tr>
    </tbody>
  </table>
</div>
